<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="u8DevServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://u8dev.yonyou.com/u8devservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="u8DevServiceSoap"
                contract="ServiceReference1.u8DevServiceSoap" name="u8DevServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>